{% extends "plantilla_base.html" %}

{% block content %}
    <center>
        <div class="container-fluid" style="margin-top: 65px;">
          

                <p>Bievenido a <em>My HW Factory</em>, En Django!</p>
            <div  style="background: white; padding: 10px;">
                <h2>Ingresar un Nuevo Producto</h2>
                <form class="container-fluid" action="" method="POST" enctype="multipart/form-data"  >
                    {%csrf_token%}
                    <div class="container-fluid">
                        {{form.id}}
                        <div class="row" style="display:block" >
                            <label class=" container-fluid " style=" padding: 5px;">Nombre:</label>
                            {{form.nombre}}
                        
                        </div>
                        <div class="row" style="display:block" >
                            <label class=" container-fluid"  style=" padding: 5px;">Marca:</label>
                            {{form.marca}}
                            <a class="btn btn-primary" href="{%url 'marca_create'%}" style="font-size: xx-small;"> Agregar Marca</a>
                        </div>
                        <div class="row" style="display:block" >
                        <label class=" container-fluid"  style="padding: 5px;">Modelo:</label>
                        {{form.modelo}}
                        
                        </div>
                        <div class="row" style="display:block" >
                        <label class=" container-fluid"  style="padding: 5px;">Precio:</label>
                        {{form.precio}}
                        </div>
                        <div class="row" style="display:block" >
                        <label class=" container-fluid"  style="padding: 5px;">Color:</label>
                        {{form.color}}
                        </div>
                        <div class="row" style="display:block" >
                        <label class=" container-fluid"  style=" padding: 5px;">Peso:</label>
                        {{form.peso}}
                        </div>
                        <div class="row" style="display:block" >
                        <label class=" container-fluid"  style=" padding: 5px;">Alto:</label>
                        {{form.alto}}
                        </div>
                        <div class="row" style="display:block" >
                        <label class=" container-fluid"  style=" padding: 5px;">Ancho:</label>
                        {{form.ancho}}
                        </div>
                        <div class="row" style="display:block" >
                        <label class=" container-fluid"  style=" padding: 5px;">Imagen 1:</label>
                        {{form.img1}}
                        </div>
                        <div class="row" style="display:block" >
                        <label class=" container-fluid"  style=" padding: 5px;">Imagen 2:</label>
                        {{form.img2}}
                        </div>
                        <div class="row" style="display:block" >
                        <label class=" container-fluid"  style=" padding: 5px;">Imagen 3:</label>
                        {{form.img3}}
                        </div>
                        <div class="row" style="display:block" >
                        <label class=" container-fluid"  style=" padding: 5px;">Imagen 4:</label>
                        {{form.img4}}
                        </div>
                        <div class="row" style="display:block;margin-top: 10px;" >
                        <button class="btn btn-success" type="submit" value="">Agregar</button>
                        </div>
                    </div>
                </form>

            </div>  
        </div>
    </center>
{% endblock %}