{% extends "plantilla_base.html" %}

{% block content %}
    <center>
        <div class="container-fluid" style="margin-top: 60px;">
            <h1 class="col-12">Bievenida</h1>

                <p>Bievenido a <em>My HW Factory</em>, En Django!</p>

            <h2>Contenido Dinamico</h2>
            <form action="" method="POST">
                {%csrf_token%}
                <h2>Estas apunto de borrar este producto: {% if producto%} {{producto.nombre}}{% endif%}!!</h2>
                <h4>Estas segur@ que deseas borrarlo?</h4>
                <button  class="btn btn-danger" type="submit" action="" value="Borrar" >Borrar</button>
                <a href="{% url 'producto-detail' producto.pk %}"class="btn btn-primary btn-xl">Atras</a>
            </form>
            
    
        </div>
    </center>
{% endblock %}